<div class="container__cards">
    <div class="container_card">
        {% for lista in peca_da_modalidade %}
            <div class="card">                    
                <a href=" informacao/{{ lista.index }}" class="link_img-card">
                    <img class="img_card" src="{{ lista.imagem.url }}" alt="">
                </a>
                <ul class="lista">
                    <li class="item_lista"><a href=" informacao/{{lista.index}}" class="lista_nome link_card">{{ lista.nome }}</a></li>
                    <li class="item_lista"><p class="lista_descricao">{{ lista.relacao }}</p></li>
                    <li class="item_lista">{{ lista.modalidade.nome }}</li>
                </ul>
            </div>
        {% endfor %}
    </div>
</div>