<header class="cabecalho">
    <div class="container">
        <input type="checkbox" name="menu" id="menu" class="container_botao">
        <label for="menu" class="menu_container">
            <span class="icone_menu"><i class="fa-solid fa-bars"></i></span>
        </label>
        <ul class="lista_menu">
            <li class="titulo_menu">Criar</li>
            <li class="lista_item"> 
                <a href="#" class="item_link">nova categoria</a> 
            </li>
            <li class="lista_item">
                <a href="#" class="item_link">novo Item</a>
            </li>
            <li class="lista_item">
                <a href="#" class="item_link">Categorias</a>
            </li>
        </ul>
    </div>
    <div class="container_titulo">
        <h1 class="titulo"> <a href="#" class="titulo_header">CatBikes</a></h1>
    </div>
    <div class="container_user">
        <a href="#" class="user_link"><i class="fa-solid fa-address-book"></i></a>
    </div>
</header>