@import url(reset.css);
@import url(base/cabecalho.css);
@import url(base/main.css);

:root {
    --preto: black;
    --cinza-claro: rgb(226, 225, 225);
    --dark-am: rgb(117, 114, 73);
}

body {
    width: 100%;
    padding: auto;
    margin: auto;
    background-color: var(--cinza-claro);
}