{% extends 'index.html' %}

{% block content %}
    <div class="container_card">
        
        <div class="card">
            <h2 class="img_card">imagem</h2>
            <ul class="lista">
                <li class="item_lista">nome</li>
                <li class="item_lista">descricao</li>
                <li class="item_lista">relacao</li>
                <li class="item_lista">modalidade</li>
            </ul>
        </div>

        <div class="card">
            <h2 class="img_card">imagem</h2>
            <ul class="lista">
                <li class="item_lista">nome</li>
                <li class="item_lista">descricao</li>
                <li class="item_lista">relacao</li>
                <li class="item_lista">modalidade</li>
            </ul>
        </div>

        <div class="card">
            <h2 class="img_card">imagem</h2>
            <ul class="lista">
                <li class="item_lista">nome</li>
                <li class="item_lista">descricao</li>
                <li class="item_lista">relacao</li>
                <li class="item_lista">modalidade</li>
            </ul>
        </div>

        <div class="card">
            <h2 class="img_card">imagem</h2>
            <ul class="lista">
                <li class="item_lista">nome</li>
                <li class="item_lista">descricao</li>
                <li class="item_lista">relacao</li>
                <li class="item_lista">modalidade</li>
            </ul>
        </div>

    </div>
{% endblock %}