.cabecalho {
    background-color: cadetblue;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: relative;
    
    padding: 1em 1em;
}

.container_botao {
    display: none;
}

.titulo_menu {
    color: orangered;
    font-weight: 700;
    padding: 0.5em 0;
}

.lista_menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

.titulo_menu {
    text-align: center;
}

.lista_item {
    width: 15vh;
    padding: 0.5em;
}

.item_link {
    font-size: 10px;
    color: darkblue;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.container_botao:checked ~ .lista_menu{
    display:block;
    background-color: white;
}

.titulo_header {
    text-decoration: none;
    font-weight: 900;
    color: azure;
}

.user_link {
    color:aquamarine;
}

/* Usuario */
.lista_menu-usuario {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
}

.container_botao:checked ~ .lista_menu-usuario{
    display:block;
    background-color: white;
}

