.container__cards {
    padding: 10px;
    height: 90vh;
}

.container_card {
    margin: 15px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 1em 0;
    padding: 0.3em;
    border-radius: 10px;
}

.img_card {
    width: 180px;
    height: 150px;
    margin-right: 0.5em;
    background-image: url(/static/css/base/media/unnamed.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.lista {
    display: block;
    width: 120px;
    text-align: end;
}

.lista_nome {
    font-size: 15px;
    font-weight: 700;
}

.lista_modalidade {
    font-size: 15px;
    font-weight: 400;
}

.item_lista {
    margin: 0.5em;
}